<h1>SOAT al instante index</h1>
<%= react_component("Vehiculo", props: @vehiculo_props, prerender: false) %>
<h2> Datos del tomador</h2>
<%= react_component("Tomador", props: @tomador_props, prerender: false) %>
